activations==0.1.0
apex==0.9.10dev
datasets==2.0.0
datasets.egg==info
deepspeed==0.6.0
einops==0.3.0
faiss==1.5.3
file_utils==0.0.1
filelock==3.0.12
matplotlib==3.5.1
nltk==3.6.2
numpy==1.21.2
packaging==21.0
ray==1.11.0
scikit_learn==1.0.2
scipy==1.5.4
setuptools==49.6.0.post20210108
skipthoughts==0.0.1
tensorflow==2.8.0
tensorflow_hub==0.12.0
torch==1.4.0
tqdm==4.61.2
wandb==0.12.11
transformers=4.10
